@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/BebasNeue.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/RobotoFlex.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/RobotoCondensed.woff2) format('woff2');
  }
}